<br/>
<div *ngIf="!loading">
  <p-fieldset>
    <p-header class="valign-wrapper">
      <i class="material-icons">store_mall_directory</i> &nbsp;&nbsp; {{ loja.nome | uppercase}} &nbsp;&nbsp;
      <a class="material-icons blue-text waves-effect waves-light  modal-trigger" href="#mLoja" (click)="limpaMsg()">toc</a>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-3">
        <span class="negrito">Endereço:</span> {{ loja.endereco }} &nbsp;&nbsp;
      </div>
      <div class="ui-g-12 ui-md-3">
        <span class="negrito">Telefone:</span> {{ loja.telefone }} &nbsp;&nbsp;
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="negrito">E-mail:</span> {{ loja.email }} &nbsp;&nbsp;
      </div>
      <div class="ui-g-12 ui-md-2">
        <span class="negrito">QTD de sensores:</span> {{ loja.sensores.length }}
        <br/>
      </div>
    </div>
    <p-footer>
      <br/>
      <div class="divider"></div>
      <div class="row">
        <div *ngFor="let sensor of loja.sensores">
          <p-fieldset class=" col s12 m6 l6 ajuste">
            <p-header class="valign-wrapper">
              <i class="material-icons">developer_board</i> &nbsp;&nbsp; {{sensor.decricao | uppercase}} &nbsp;&nbsp;
              <a class="material-icons blue-text waves-effect waves-light  modal-trigger" href="#mSensor" (click)="carregarSensor(sensor)">toc</a>
            </p-header>
            <span class="negrito">Codigo:</span> {{ sensor.codigo }}
            <br/>
            <span class="negrito">Descrição:</span> {{ sensor.decricao }}
            <br/>
            <span class="negrito">T-Min:</span> {{ sensor.temperaturaMin }}ºC
            <br/>
            <span class="negrito">T-Max:</span> {{ sensor.temperaturaMax }}ºC
            <br/>
          </p-fieldset>

        </div>
      </div>
    </p-footer>


    <!-- Modal Structure -->
    <div id="mLoja" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
      <div class="modal-content">
        <app-alerta [isVisivel]="msgLoja.ativo" [classeCor]="msgLoja.cor">
          {{msgLoja.msg}}
        </app-alerta>
        <app-loja-form [loja]="loja" titulo="Alterar dados do loja"></app-loja-form>        
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-green btn-flat vermelho" (click)="closeModal()">Fechar</a>
        <a class="modal-action waves-effect waves-green btn-flat verde" *ngIf="!msgLoja.ativo"  (click)="atualizaLoja(loja)">Salvar</a>        
      </div>
    </div>



    <!-- Modal Structure -->
    <div id="mSensor" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
      <div class="modal-content">
          <app-alerta [isVisivel]="msgSensor.ativo" [classeCor]="msgSensor.cor">
              {{msgSensor.msg}}
            </app-alerta>
        <app-sensor-form [sensor]="sensorSelecionado" titulo="Alterar dados do sensor" ></app-sensor-form>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-green btn-flat vermelho" (click)="closeModal()">Fechar</a>
        <a class="modal-action waves-effect waves-green btn-flat verde" *ngIf="!msgSensor.ativo"  (click)="atualizaSensor(sensorSelecionado)">Salvar</a>
      </div>
    </div>

  </p-fieldset>



</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-6
     ui-md-offset-4">
    <br>
    <app-loading [visivel]="loading && !erro" class="center"></app-loading>
    <app-alerta [isVisivel]="erro" classeCor="vermelho">
      <i class="material-icons">error</i>Não foi possivel carregar dos dados da loja
    </app-alerta>
  </div>
</div>