<p-fieldset>
    <p-header class="valign-wrapper">  <i class="material-icons">store_mall_directory</i> &nbsp;&nbsp;Dados da loja</p-header>  
    <div >  
      <span class="negrito">Nome :</span> {{ estabelecimento.nome }} <br/>
      <span class="negrito">Endereço :</span> {{ estabelecimento.endereco }} <br/>
      <span class="negrito">Telefone :</span> {{ estabelecimento.telefone }} <br/>
      <span class="negrito">E-mail :</span> {{ estabelecimento.email }} <br/>
      <br/>
      <p-fieldset>
          <p-header class="valign-wrapper">  <i class="material-icons">developer_board</i> &nbsp;&nbsp;Dados do sensor</p-header>  
      <span class="negrito">Codigo :</span>  {{ estabelecimento.sensor.codigo }} <br/>
      <span class="negrito">Descrição :</span> {{ estabelecimento.sensor.decricao }} <br/>
      <span class="negrito">T-Min :</span> {{ estabelecimento.sensor.temperaturaMin }}ºC  <br/>
      <span class="negrito">T-Max :</span> {{ estabelecimento.sensor.temperaturaMax }}ºC  <br/>
    </p-fieldset>
  </div>  
  </p-fieldset>