<div class="ui-g">
  <form class="ui-g-12">
    <h5>Alterar dados do sensor</h5>
    <div class="divider"></div>
    <br/>
    <div class="ui-g">
      <div class="input-field ui-g-12 ui-md-2">
        <input id="codigo" disabled class="validate" [(ngModel)]="sensor.codigo" type="text">
        <label for="codigo">Codigo</label>
      </div>
      <div class="input-field ui-g-12 ui-md-6">
        <input id="descricao" type="text" class="validate">
        <label for="descricao">Descrição</label>
      </div>
      <div class="input-field ui-g-12 ui-md-2">
        <input id="tmin" type="text" class="validate">
        <label for="tmin">Temperatura mínima</label>
      </div>
      <div class="input-field ui-g-12 ui-md-2">
        <input id="tmax" type="text" class="validate">
        <label for="tmax">Temperatura Maxíma</label>
      </div>
    </div>
  </form>
</div>

{{sensor | json}} teste
