<div class="ui-g">
  <form class="ui-g-12">  
      <h5>Alterar dados da loja</h5>
      <div class="divider"></div>
      <br/>
      <div class="ui-g">
      <div class="input-field ui-g-12 ui-md-2">
        <input id="codigo" disabled class="validate"  type="text" [(ng-model)]="codigo">
        <label for="codigo">Codigo</label>
      </div>
      <div class="input-field ui-g-12 ui-md-6">
        <input id="nome" type="text" class="validate">
        <label for="nome">Nome</label>
      </div>
      <div class="input-field ui-g-12 ui-md-4">
          <input id="telefone" type="tel" class="validate">
          <label for="telefone">Telefone</label>
        </div>
    </div>
  </form>
</div>