<div class="row uai ">
  <div class="red alert  col s12 m6 l6 ">
    <div class="row">
      <div class="col s6">Supermecado Chama</div>
      <div class="col s2">1004</div>
      <div class="col s4">Geladeira</div>
    </div>
    <div class="divider"></div>
    <div class="row ">
      <div class="col s4">T-MIN: 1º</div>
      <div class="col s4">T-MAX: 20º</div>
      <div class="col s4">T-ATUAL: 8º</div>
    </div>
    <div class="row">
      <div class="col s4">Energia: OK</div>
      <div class="col s8">Temperatura abaixo do limite minimo!</div>
    </div>
  </div>

  <div class="red alert  col s12 m6 l6 ">
      <div class="row">
        <div class="col s6">Supermecado Chama</div>
        <div class="col s2">1004</div>
        <div class="col s4">Geladeira</div>
      </div>
      <div class="divider"></div>
      <div class="row ">
        <div class="col s4">T-MIN: 1º</div>
        <div class="col s4">T-MAX: 20º</div>
        <div class="col s4">T-ATUAL: 8º</div>
      </div>
      <div class="row">
        <div class="col s4">Energia: OK</div>
        <div class="col s8">Temperatura abaixo do limite minimo!</div>
      </div>
    </div>
</div>