.row{
    margin: 0px;
}


.alert {
    border-radius: 2px;
    top: 35px;
    width: calc(50% - 10px) !important;
    margin-top: 7px;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;

}
.alert > div{
    white-space: nowrap;
}
.alert > div:last-child{
    white-space: normal;
}
.ajuste > div > div{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    
    
}

@media (max-width: 767px) {
    .alert {
        width:100% !important;
        margin: 5px 0 !important;
    }
}