<div class="row centro">
  <div class="col s12 m6 l4 offset-s0 offset-m4 offset-l4">
    <form class="card pad" #form="ngForm">
      <div class="card-image">
        <div class="row">
          <div class="col s10 m8 l8 offset-s1  offset-m2 offset-l2">
            <img class="circle responsive-img" src="../../../favicon.ico">
          </div>
        </div>
      </div>
      <div class="card-content">
        <span class="card-title">Login</span>
        <div class="divider"></div>
        <br>
        <div class="row">
            <app-alerta [isVisivel]="dadosInvalidos"  classeCor="vermelho" (click)="mostrar()">
                Usuario ou senha inválidos!
                 </app-alerta>

          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="email" name="email" [(ngModel)]="usuario.email" email #email="ngModel"  (blur)="validaCampo(email)">
            <label for="email">E-mail</label>
            <app-alerta [isVisivel] = "emailValido" classeCor="vermelho">
              E-mail é obrigatorio!
              </app-alerta>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">enhanced_encryption</i>
            <input type="password" id="senha" name="senha" [(ngModel)]="usuario.senha" required maxlength=8 minlength="8" #senha="ngModel"  (blur)="validaCampo(senha)">
            <label for="senha">Senha</label>
            <app-alerta [isVisivel]="senhaValido"  classeCor="vermelho">
             Senha é obrigatorio, e com 8 digitos
              </app-alerta>
          </div>
        </div>
        <div class="card-action">
          <app-loading [visivel]="loading" class="right"></app-loading>
          <button class="btn  right azul" (click)="fazerLogin(form)" *ngIf="!loading"  [disabled]="!form.valid">login</button>
        </div>
      </div>
    </form>
  </div>
