
<div class="ui-g">
    <div class="ui-g-12 ui-md-6" *ngFor="let loja of lojas" >
        <p-fieldset  [routerLink]="['detalhes',loja.idEstabelecimento]">
            <p-header class="valign-wrapper">  <i class="material-icons">home</i> &nbsp;&nbsp;{{loja.nome | uppercase}}</p-header>  
            <span class="negrito">Nome :</span> {{ loja.nome }} <br/>
            <span class="negrito">Endereço :</span> {{ loja.endereco }} <br/>
            <span class="negrito">Telefone :</span> {{ loja.telefone }} <br/>
            <span class="negrito">E-mail :</span> {{ loja.email }} <br/> 
            <span class="negrito">QTD de sensores :</span> {{ loja.sensores.length }} <br/> 
          </p-fieldset>          
    </div>
    
</div>

<div class="ui-g">
        <div class="ui-g-12 ui-md-6
         ui-md-offset-4">
          <br>
            <app-loading [visivel]="loading && !erro" class="center"></app-loading>
            <app-alerta [isVisivel]="erro" classeCor="vermelho">
                    <i class="material-icons">error</i>Não foi possivel carregar as lojas
            </app-alerta>
        </div>
    </div>
    