<br/>
<br/>
<br/>
<br/>
<div class="center-align">
  <h2 class=" flow-text negrito vermelho-text"> :( &nbsp; Pagina não encontrada!!</h2>
  <br/>
  <div class="divider"></div>
  <br/>
  <br/> {{logado}}
  <div [ngSwitch]="logado">
    <div *ngSwitchCase="true">
      <p class=" flow-text">
        Clique no botão abaixo para retornar a tela de status
      </p>
      <br/>
      <a routerLink="/status" class="btn-floating btn-large waves-effect waves-light azul">
        <i class="material-icons">reply</i>
      </a>
    </div>
    <div *ngSwitchCase="false">
      <p class=" flow-text">
        Clique no botão abaixo para retornar a tela de login...
      </p>
      <br/>
      <a routerLink="/login" class="btn-floating btn-large waves-effect waves-light azul">
        <i class="material-icons">reply</i>
      </a>
    </div>


  </div>


</div>