/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

.azul { background-color: #2B303A; }
.laranja { background-color: #DC3912; }
.verde { background-color: #00884A; }
.vermelho { background-color: #F56954; } 
.amarelo {
    background-color: #FADD56;
    color: #666 !important;
}   
.azul:hover { background-color: #2B303A; }
.negrito {
    font-weight: bold;
}

.vermelho-text{
    color: #F56954;
}



